html, body {
	width: 100%;
 	padding: 0;
 	margin: 0;
 	border: 0;
 	
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

video { display: none }
#videoCanvas {display: none;}
canvas { width: 100%; }

@media screen and (min-width: 500px) {
	body {
		width: 500px;
	}
}